body {
    font-family: Rubik, sans-serif;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 150px 0 150px;
}

.logo-name {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    padding-left: 10px;
}

.header-item-list {
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 0 150px 0 157px;
}

.sign-in {
    width: 60px;
    font-size: 16px;
    font-weight: 700;
    padding-right: 30px;
}

.signup-button {
    background-color: #fff;
    color: #F53855;
    width: 160px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #F53855;
    font-size: 16px;
    font-weight: 700;
}

.wrapper__first-section {
    width: 1440px;
    margin: 0 auto;
}

.first-section {
    margin-top: 70px;
    margin-left: 148px;
}

.first-section-items {
    display: flex;

}

h1 {
    width: 555px;
    color: #0B132A;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px;
    letter-spacing: -0.7px;
}

.text-under-h1 {
    width: 555px;
    color: #4F5665;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;

}

.get-started-button {
    width: 250px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    background-color: #F53838;
    position: relative;
    top: 52px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

.first-img-png {
    padding: 15px 0 0 41px;
}


.info-items {
    border-radius: 10px;
    width: 1140px;
    min-height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 104px;
}

.info-items__icons {
    position: relative;
    left: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FFECEC;
    margin-right: 165px;
}

.icon-description-top {
    position: relative;
    top: -2px;
    left: -73px;
    color: #0B132A;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.icon-description-bottom {
    color: #4F5665;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}


.separator {
    position: relative;
    left: 17px;
    width: 2px;
    height: 125.573px;
    background-color: #EEEFF2;
}

.subsection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.man-with-laptop {
    margin-top: 96px;
    position: relative;
    right: 142px;
}

.subsection-text {
    position: relative;
    left: 26px;
}

h2 {
    position: relative;
    top: 35px;
    width: 383.406px;
    color: #0B132A;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.5px;
}

.subsection-list {
    position: relative;
    top: 29px;
    width: 427.879px;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.list-item {
    list-style-image: url(/images/check-mark-icon.svg);
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
}

.list-item-one {
    position: relative;
    top: 34px;
    right: 9px;
}

.list-item-two {
    position: relative;
    top: 52px;
    right: 9px;
}

.list-item-three {
    position: relative;
    top: 73px;
    right: 9px;
}

.list-item-four {
    position: relative;
    top: 93px;
    right: 9px;
}

.wrapper__second-section {
    width: 1440.155px;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 175px;
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
}

.second-section-heading {
    width: 383.406px;
    text-align: center;
    color: #0B132A;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 0;
    letter-spacing: -0.5px;
}

.text-under-heading {
    width: 555px;
    color: #4F5665;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 17px;
}

.columns {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: 113px;
    gap: 48px;
}

.columns-heading {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.columns__first {
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    width: 328px;
    min-height: 760px;
}

.free-plan-image {
    width: 144.904px;
    height: 165.374px;
    padding: 79.63px 92.5px 26px 92.5px;

}

.columns__second {
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    width: 328px;
    min-height: 760px;
}

.standard-plan-image {
    width: 144.904px;
    height: 165.374px;
    padding: 79.63px 92.5px 26px 92.5px;

}

.columns__third {
    border-radius: 10px;
    border: 2px solid #F53838;
    background: #FFF;
    width: 328px;
    min-height: 760px;
}

.premium-plan-image {
    width: 144.904px;
    height: 165.374px;
    padding: 79.63px 92.5px 26px 92.5px;

}

.plan-list-item {
    text-align: start;
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 17px;
    list-style-image: url(/images/check-icon.svg);
    margin-left: 55px;
}

.plan-list-item li {
    margin-bottom: 10px;
}

.list-padding {
    padding-left: 15px;
}

.price-free {
    position: relative;
    top: 113px;
    left: 90px;
    color: #0B132A;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.select-free-button {
    position: relative;
    top: 165px;
    right: 30px;
    width: 177.876px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #F53838;
    background-color: #fff;
    color: #F53838;
    font-size: 16px;
    font-weight: 700;
}

.select-standard-button {
    position: relative;
    top: 125px;
    right: 50px;
    width: 177.876px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #F53838;
    background-color: #fff;
    color: #F53838;
    font-size: 16px;
    font-weight: 700;
}

.select-premium-button {
    position: relative;
    top: 85px;
    right: 56px;
    width: 177.876px;
    height: 45px;
    border: 0;
    border-radius: 50px;
    background-color: #F53838;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.price-standard {
    position: relative;
    top: 74px;
    left: 90px;
    color: #0B132A;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.price-premium {
    position: relative;
    top: 34px;
    left: 90px;
    color: #0B132A;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.per-month {
    color: #4F5665;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}

.wrapper__third-section {
    width: 1440px;
    margin: 0 auto;
}

.third-section {
    text-align: center;
}

.third-section h3 {
    width: 383px;
    color: #0B132A;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    margin-left: 529px;
    letter-spacing: -0.5px;
}

.third-section-span {
    position: relative;
    top: -16px;
    margin: 0 auto;
    display: block;
    width: 555px;
    color: #4F5665;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 140px;
}

.media {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.netflix {
    position: relative;
    right: 80px;
}

.reddit {
    position: relative;
    right: 20px;
}

.discord {
    position: relative;
    top: 3px;
    left: 3px;
}

.spotify {
    position: relative;
    left: 62px;
}

.wrapper__fourth-section {
    width: 1440px;
    margin: 0 auto;
}

.fourth-section h3 {
    width: 447.805px;
    color: #0B132A;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    padding-left: 496px;
    padding-right: 496px;
    margin-bottom: 0;
    letter-spacing: -0.5px;
}

.fourth-section-span {
    display: block;
    width: 555px;
    color: #4F5665;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 442px;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    margin-bottom: 60px;
}

.first-comment {
    border-radius: 10px;
    border: 2px solid #F53838;
    background: #FFF;
    width: 410px;
    min-height: 230px;
    margin-left: 150px;
}

.comment-header {
    display: flex;
    align-items: center;
}

.first-name {
    padding-top: 15px;
    color: #0B132A;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}

.first-city {
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.first-rate {
    padding-top: 3px;
    padding-left: 110px;
    padding-right: 12px;
}

.first-comment-text {
    position: relative;
    left: -4px;
    display: flex;
    width: 340px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    color: #0B132A;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 30px;
}

.first-comment img {
    padding: 29px 20px 20px 27px;
}

.second-comment {
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    width: 400px;
    min-height: 230px;
    margin-left: 52px;
    width: 410px;
    height: 230px;
}

.second-comment img {
    padding: 29px 20px 20px 27px;
}


.second-name {
    padding-top: 15px;
    color: #0B132A;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}

.second-city {
    position: relative;
    right: 20px;
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.second-rate {
    padding-top: 3px;
    padding-left: 90px;
    padding-right: 12px;
}


.second-comment-text {
    position: relative;
    bottom: 15px;
    left: -5px;
    width: 340px;
    height: 100px;
    color: #0B132A;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 30px;
}

.third-comment {
    width: 400px;
    height: 230px;
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    min-height: 230px;
    margin-left: 50px;
}

.third-comment img {
    padding: 29px 20px 20px 27px;
}

.third-name {
    padding-top: 15px;
    color: #0B132A;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}

.third-city {
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.third-rate {
    padding-top: 3px;
    padding-left: 90px;
    padding-right: 12px;
}


.third-comment-text {
    position: relative;
    bottom: 14px;
    left: -4px;
    width: 340px;
    height: 100px;
    color: #0B132A;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 30px;
}




/* slider */

.slider {
    display: flex;
    width: 135px;
    margin-left: 149px;
    position: relative;
    bottom: 5px;
}

.slider-active {
    border-radius: 10px;
    width: 45px;
    min-height: 15px;
    background-color: #F53838;
}

.slider-passive {
    border-radius: 50%;
    width: 15px;
    min-height: 15px;
    background-color: #DDE0E4;
    margin-left: 15px;
}

/* end slider */

/* arrows */
.arrows {
    position: relative;
    bottom: 5px;
    left: 16px;
    display: flex;
    margin-top: 2px;
    margin-right: 167px;
    text-align: center;
}

.left-arrow {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    color: #F53838;
    border: 2px solid #F53838;
    background-color: white;
}

.left-arrow span {
    position: relative;
    top: 16px;
    font-size: 25px;
}

.right-arrow span {
    position: relative;
    top: 16px;
    font-size: 25px;
}

.right-arrow {
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F53838;
    margin-left: 20px;
}

/* end arrows */

.slider-and-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}

/* end slider and arrows */

.subscribe-items {
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    position: relative;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    min-height: 233px;

}

.subscribe-items-heading {
    display: flex;
    width: 380.615px;
    min-height: 80px;
    flex-direction: column;
    justify-content: center;
    color: #0B132A;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    padding-left: 70px;
    padding-bottom: 5px;
    letter-spacing: -0.25px;
}

.subscribe-items-heading span {
    display: flex;
    width: 410px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    color: #4F5665;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 14px;
}

.subscribe-button {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: #F53838;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    border: 0;
    margin-right: 70px;
}

.footer-wrapper {
    width: 1440px;
    margin: 0 auto;
}

footer {
    min-height: 563.12px;
    background: #F8F8F8;
}

.all-footer-items {
    display: flex;
    justify-content: space-around;
    padding-top: 178px;
}

.footer-logo-items { 
    position: relative;
    right: 29px;
}

.main {
    margin-bottom: -115px;
}

.footer-logo-items span {
    position: relative;
    bottom: 12px;
    color: #0B132A;
    font-size: 20px;
    font-weight: 700;
    padding-left: 5px;
}

.text-under-footers-logo {
    width: 340px;
    height: 61.573px;
    color: #4F5665;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 14px;
    padding-right: 70px;
}

.icon {
    display: flex;
    gap: 20px;
    fill: #F53838;
    padding-top: 31px;
    padding-left: 2px;
    padding-bottom: 34px;
}

.fill-icon {
    width: 33.6px;
    height: 33.6px;
    background-color: #fff;
    border-radius: 50%;
}

.icon .icon-media {
    width: 18px;
    height: 18px;
    display: block;
    margin: 0 auto;
    padding-top: 6px;
}

.footer-list-items {
    display: flex;
}

.footer-list-items ul {
    list-style-type: none;
    padding: 0;
}

.product-list {
    position: relative;
    right: 226px;
    bottom: 20px;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.product-heading {
    position: relative;
    bottom: 2px;
    color: #0B132A;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
}

.engage-list {
    position: relative;
    bottom: 20px;
    right: 100px;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.engage-heading {
    position: relative;
    bottom: 2px;
    color: #0B132A;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
}

.earn-money-list {
    position: relative;
    left: 26px;
    bottom: 18px;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.earn-money-heading {
    position: relative;
    bottom: 5px;
    color: #0B132A;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
}